<div class="container">
        <form>
            <div class="form-group">
                <label for="userId">User Id</label>
                <input type="text" id="userId" class="form-control" name="userId"
                [(ngModel)]="id" required>
            </div>  
    
            <button (click)="getById(id)" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    
    
    
    <table>
        <tr>
            <td>User Id</td>
            <td>User name</td>
        </tr>
        <tr>
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
        </tr>
    </table>
